/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
p,
li {
  color: #706c61;
}
a {
  color: #e1f4f3;
}
Html {
  background-color: #333333;
}
div {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  background-color: #ffffff;
}
nav {
  display: flex;
  justify-content: center;
}
nav a {
  color: #e1f4f3;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 0.5rem;
  text-decoration: none;
}
.intro-box {
  display: flex;
  background-color: #ffffff;
  width: 80%;
  margin: 2% auto;
  flex-wrap: wrap;
}
.intro-box figure {
  width: 50%;
  margin-left: 1%;
}
.intro-box h1 {
  font-size: 2rem;
  text-align: center;
  width: 100%;
}
.intro-box div {
  width: 40%;
  margin: auto;
  flex-direction: column;
}
.intro-box div p {
  font-size: 2.5rem;
  background: #333333;
}
.intro-box div a {
  padding: 0;
  font-size: 1.5rem;
  width: 35%;
}
.intro-box img {
  width: 50%;
}
.intro-box .subtitle {
  font-size: 0.5rem;
}
.intro-box p {
  margin: 0;
  height: 100%;
}
.intro-box a {
  background: #301934;
  border: 1px solid #e1f4f3;
  text-decoration: none;
  font-weight: bold;
  padding: 0.1rem;
}
.about h2 {
  font-size: 1.4rem;
  margin-bottom: 1%;
  color: #706c61;
}
.about div {
  flex-direction: column;
  width: 50%;
  margin: 3%;
}
.about li {
  border-bottom: 1px solid #706c61;
}
.work-history {
  padding: 3%;
  margin-bottom: 1%;
  display: flex;
  flex-wrap: wrap;
}
.work-history h2 {
  font-size: 1.6rem;
  color: #706c61;
  width: 100%;
  margin-bottom: 1%;
}
.work-history table {
  justify-content: flex-start;
}
.work-history table .titles {
  font-weight: bolder;
}
.work-history table td {
  border-bottom: 1px solid #706c61;
}
.copyright {
  text-align: center;
  color: #e1f4f3;
}
